<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include ".base/ie.html" ignore missing%}
    {% include ".base/bootstrap.html" %}
    <link href="{{url_for('static', filename='css/simple.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Mushroom Server</title>
    <script src="{{url_for('static', filename='js/menu.js')}}"></script>
    {% block head %}
    {% endblock %}
</head>
<body onload="init();">
{% include ".base/yandex.metrika.html" ignore missing %}
{% include ".base/menu.html"%}

<div class="container">
{% block body %}
{% endblock %}
</div>
</body>
</html>