<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="tbutton">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mushroom</a>
        </div>
        <div class="navbar-collapse collapse" id="menu">
            {% if menu %}
            <ul class="nav navbar-nav" id="navmenu">
                {% for key,value in menu.items() %}
                    {% if active == key %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <a class="btn" href="{{value}}">{{key}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
