{% extends ".base/layout.html" %}

{% block title %}{{error_text}}{% endblock %}

{% block body %}
<div class="row">
    <p class="well">
    Что-то пошло не так!
    <br>
    Этой страницы не существует!
    </p>
</div>
{% endblock %}